:root {
  --metrics__max-width: 700px;
  --metrics__image-radius: 0.2em;
  --metrics__block-margin: 1.2em;

  /* Primary */
  --color__background: light-dark(#f6f1e3, #121212);
  --color__foreground: light-dark(#4a3527, #b0b0b0);
  /* Secondary */
  --color__background--secondary: light-dark(rgb(255 255 255 / 65%), rgb(0 0 0 / 65%));
  --color__foreground--secondary: light-dark(#796958, #a8a8a8);
  /* Overlays */
  --color__background--overlay: light-dark(
    color-mix(in srgb, var(--color__background) 50%, #fff),
    color-mix(in srgb, var(--color__background) 50%, #000)
  );
  --color__foreground--overlay: var(--color__foreground);
  --color__shadow--overlay: light-dark(rgb(0 0 0 / 10%), transparent);
  /* Other contexts */
  --color__foreground--links: light-dark(#c19524, #77c5f5);
  --color__foreground--separators: light-dark(#cdc3b5, #3f3f3f);
}

/* "Reset" */
html,
body {
  margin: 0;
}

figure {
  margin-inline: 0;
}

/* Layout */
body {
  margin: 0;
  padding: 1.6rem;
}

.article__header,
.article__body,
.article__footer {
  box-sizing: border-box;
  max-inline-size: var(--metrics__max-width);
  margin-inline: auto;
}

.article__header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: stretch;
  margin-block-end: 2em;
  padding-block-end: 2em;
  column-gap: 1.2em;
  border-block-end: 1px solid var(--color__foreground--separators);
  text-wrap: balance;

  .article__header__feed {
    flex: 0 0 100%;
    margin: 0;
    margin-block-end: 0.6em;
  }

  .article__header__basics {
    flex: 1;
  }

  .article__header__title {
    margin: 0;
  }

  .article__header__avatar {
    flex: 0 0 auto;
    margin-block-start: 0.5em; /* Align with title text */

    > img {
      display: block;
      block-size: auto;
      inline-size: auto;
      max-inline-size: 4em;
      border-radius: 50%;
      aspect-ratio: 1/1;
    }
  }

  .article__header__byline {
    display: block;
    margin: 0;
    margin-block-start: 0.3em;
  }

  .article__header__date {
    display: block;
    margin: 0;
    margin-block-start: 0.9em;
  }
}

.article__body {
  text-wrap: pretty;
  margin-trim: block; /* stylelint-disable-line declaration-property-value-no-unknown -- Not yet supported. */

  /* Visual media */
  :is(img, video, iframe, svg) {
    block-size: auto;
    max-inline-size: 100%;
    border: none;

    &:not([href*='.png'], svg) {
      background: var(--color__foreground--secondary);
    }
  }

  > :is(img, video, iframe, svg),
  > a > img,
  :is(div, figure, picture) > :is(img, video, iframe, svg),
  :is(div, figure, picture) > a > img,
  p > :is(img, video, iframe, svg):only-child,
  p > a:only-child > img:only-child {
    display: block;
    inline-size: auto;
    margin-block: var(--metrics__block-margin);
    margin-inline: auto;
    border-radius: var(--metrics__image-radius);
  }

  :is(p):has(> :is(img, video, iframe, svg):only-child) {
    margin-block: 0;
  }

  /* Linked images */
  > a:has(> :is(img, svg)),
  :is(div, figure, picture) > a:has(> :is(img, svg)),
  p > a:only-child:has(> :is(img, svg):only-child) {
    display: block;
  }

  iframe {
    &,
    div > &,
    p > &:only-child {
      inline-size: 100%;
    }

    /* Set default aspect ratio for common embed types */
    &:where(
      [src^="https://www.youtube.com/embed/"],
      [src^="//www.youtube.com/embed/"],
      [src^="https://www.youtube-nocookie.com/embed/"],
      [src^="//www.youtube-nocookie.com/embed/"],
      [src^="https://player.vimeo.com/"],
      [src^="//player.vimeo.com/"],
      [src^="https://videopress.com/embed/"],
      [src^="//videopress.com/embed/"]
    ) {
      &:not([style*='aspect-ratio']) {
        aspect-ratio: 16 / 9;
      }
    }

    /* Increase code embed heights */
    &:where(
      [src^='https://codepen.io/'],
      [src^='//codepen.io/']
    ) {
      min-block-size: min(40rem, 100svb);
    }
  }

  /* Block elements */
  &,
  & > div,
  & > div > a,
  & > a > div {
    > :where(ul, li, p, img, video, picture, figure, iframe, svg, blockquote) {
      margin-block: var(--metrics__block-margin);

      /* Remove surrounding <br> elements */
      & + br,
      br:has(+ &) {
        display: none;
      }
    }
  }
}

.article__footer {
  margin-block-start: 4em;
  padding-block-start: 0.5em;
}

/* Typography */
html {
  font-size: 16px;
}

body {
  background: var(--color__background);
  color: var(--color__foreground);
  font-family: ui-serif;
  font-size: 1.25em;
  line-height: 1.5;
  word-wrap: break-word;
}

:where(h1, h2, h3, h4, h5, h6) {
  line-height: 1.2;
}

code {
  font-size: 0.9em;
}

.article__header__feed,
.article__header__date {
  color: var(--color__foreground--secondary);
  font-size: 0.85em;
}

.article__footer {
  font-size: 0.7em;
}

/* Elements */
.article__body {
  /* Blockquotes */
  blockquote {
    --rule-width: 0.2em;

    position: relative;
    margin-inline-start: 0;
    padding-inline-start: calc(var(--rule-width) + var(--metrics__block-margin));
    color: var(--color__foreground--secondary);
    margin-trim: block; /* stylelint-disable-line declaration-property-value-no-unknown -- Not yet supported. */

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset-block: 0.3em 0.15em;
      inset-inline-start: 0;
      inline-size: var(--rule-width);
      background: var(--color__foreground--separators);
    }
  }

  /* Pre sections */
  pre {
    box-sizing: border-box;
    max-inline-size: 100%;
    padding: 0.6em;
    overflow-x: auto;
    border-radius: var(--metrics__image-radius);
    background: var(--color__background--secondary);

    > code {
      display: block;

      &:only-child {
        display: inline-block;
        padding-inline-end: 1px; /* Fix scroll margin */
        font-size: 0.8em;
      }
    }
  }

  /* Lists */
  :where(ul, ol) {
    margin-trim: block; /* stylelint-disable-line declaration-property-value-no-unknown -- Not yet supported. */

    > li {
      &:not(:has(> p)) {
        margin-block: var(--metrics__block-margin);
      }
    }
  }

  /* Dividers */
  hr {
    block-size: 1px;
    inline-size: 100%;
    margin-block: calc(var(--metrics__block-margin) * 2);
    border: none;
    background: var(--color__foreground--separators);
    color: transparent;
  }
}

/* Links */
a {
  color: var(--color__foreground--links);
}

.article__header__feed,
.article__header__title {
  a:not(:hover, :focus-visible) {
    color: inherit;
    text-decoration: none;
  }
}

/* Footnotes */
a.footnote {
  display: inline-block;
  position: relative;
  inset-block-start: -0.1em;
  min-inline-size: 1em;
  margin-block: 0;
  margin-inline: 5px;
  padding: 0.1em;
  background: transparent;
  background: var(--color__foreground--secondary);
  color: var(--color__background);
  font-size: 0.8em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
}

.newsfoot-footnote-popover {
  padding: 0;

  .newsfoot-footnote-popover-inner,
  .newsfoot-footnote-popover-arrow {
    background: var(--color__background--overlay);
    color: var(--color__foreground--overlay);
  }

  .newsfoot-footnote-popover-inner {
    box-sizing: border-box;
    inline-size: calc(var(--metrics__max-width) + var(--metrics__block-margin));
    max-inline-size: 100%;
    margin-inline: auto;
    border-radius: var(--metrics__image-radius);
    box-shadow: 0 0.2em 0.6em var(--color__shadow--overlay);
    line-height: 1.65;
  }
  .newsfoot-footnote-popover-arrow {
    z-index: 2;
  }
}

/* Invalid markup */
:where(ul, li) > br {
  display: none;
}
