/** Via https://github.com/Ranchero-Software/NetNewsWire/tree/main/Shared/Article%20Rendering */

/* This is the activity indicator (currently iOS only) that is used while image zooming */

.activityIndicatorWrap {
  position: relative;
}

.activityIndicator {
  position: absolute;
  z-index: 1;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  block-size: 64px;
  inline-size: 64px;
  transform: translate(-50%, -50%);
}

/* see removeWpSmiley; this rule is kept in case a wp-smiley is encountered without alt text */

.wp-smiley {
  block-size: 1em;
  max-block-size: 1em;
}

/* Hide the external link at the bottom of Daring Fireball posts */

.x-netnewswire-hide {
  display: none;
}

/* Block ads and junk */

iframe[src*='feedads'],
iframe[src*='doubleclick'],
iframe[src*='plusone.google'] {
  display: none !important;
}

a[href*=".ads."],
a[href*="feedads"],
a[href*="doubleclick"],
a[href*="//ads."],
a[href*="api.tweetmeme"],
a[href*="delicious.com/post?"],
a[href*="digg.com/submit?"],
a[href*="google.com/bookmarks/mark?"],
a[href*="posterous.com/share?"],
a[href*="tumblr.com/share?"],
a[href*="linkedin.com/shareArticle?"],
a[href*="facebook.com/share.php?"],
a[href*="http://twitter.com/home?"],
a[href*="addtoany.com/share_save"] {
  display: none !important;
}

img[src*=".ads."],
img[src*="//ads."],
img[src*="doubleclick"],
img[src*="feedads"],
img[src*="feedburner"],
img[src*="feedblitz"],
img[src*="share-buttons"] {
  display: none !important;
}

/* Newsfoot specific styles. Structural styles come first, theme styles second */

.newsfoot-footnote-container {
  display: inline-block;
  position: relative;
  z-index: 9999;
}

.newsfoot-footnote-popover {
  display: block;
  position: absolute;
  inset-block-start: 0.75em;
  box-sizing: border-box;
  max-inline-size: none;
  margin: 1em;
  padding: 0 1em;
  border-radius: 0.3em;
}

.newsfoot-footnote-popover {
  inset-inline: calc(-1 * (50vw - 1em));
}

.newsfoot-footnote-popover-arrow {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  inset-block-start: -0.5em;
  inset-inline-start: calc(50% - 0.5em);
  block-size: 1em !important;
  inline-size: 1em;
  transform: rotate(45deg);
}

.newsfoot-footnote-popover-inner {
  position: relative;
  z-index: 1;
  padding: 1em;
  border-radius: calc(0.3em - 1px);
}

.newsfoot-footnote-popover-inner :first-child {
  margin-block-start: 0;
}
.newsfoot-footnote-popover-inner :last-child {
  margin-block-end: 0;
}

.newsfoot-footnote-popover .reversefootnote,
.newsfoot-footnote-popover .footnoteBackLink,
.newsfoot-footnote-popover .footnote-return {
  display: none;
}

sup[id^='fn'] {
  vertical-align: baseline;
}

a.footnote {
  display: inline-block;
  position: relative;
  inset-block-start: -0.1em;
  min-inline-size: 1em;
  padding: 0.05em 0.75em;
  border-radius: 1em;
  font-size: 0.8em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
}
